* {
  box-sizing: border-box;
  margin: 0;
}

Body {
  background-color: cornsilk;
}

article {
  opacity: 0;
  transition: 0.2s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 1rem;
  background-color: aquamarine;
  max-width: fit-content;
  padding: 5px;
}
article p {
  background-color: azure;
  border-color: black;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
}

article.youtube {
  opacity: 1;
}

button {
  margin: 10px;
}
div {
  opacity: 0;
  transition: 0.2s;
  background-color: darkcyan;
  max-width: fit-content;
  padding: 5px;
  display: flex;
  justify-content: right;
}

div.embed {
  opacity: 1;
}

div p {
  background-color: azure;
  border-color: black;
  border-width: 1rem;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
}
iframe {
  width: 100%;
  height: auto;

  aspect-ratio: 16/9;
}

video {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 16/9;
}
